# Ignore bundled gems
/vendor/bundle

# Ignore the default SQLite database
/storage/*.sqlite3
/storage/*.sqlite3-*
/db/*.sqlite3
/db/*.sqlite3-*

# Ignore all log files
/log/*
!/log/.keep

# Ignore tmp files
/tmp/*
!/tmp/.keep

# Ignore pidfiles
/tmp/pids/*

# Ignore storage files
/storage/*
!/storage/.keep

# Ignore master key for decrypting credentials and more
/config/master.key
/config/credentials/*.key

# Ignore precompiled assets
/public/assets

# Ignore node_modules
/node_modules

# Environment
.env
.env.local
.env.*.local
